*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
user-select:none;
-webkit-user-select:none;
-webkit-touch-callout:none;
}

body{

background:#080808;
color:white;

}

button,a{

-webkit-touch-callout:none;

}
