*{

margin:0;
padding:0;

box-sizing:border-box;


font-family:
Inter,
Arial,
sans-serif;


user-select:none;

-webkit-user-select:none;

-webkit-touch-callout:none;


}



html{


touch-action:manipulation;


}



body{


background:#070707;


color:white;


overflow-x:hidden;


}



/* Disable long press */


button,
a{


-webkit-touch-callout:none;


}




/* Home */


.home{


padding:25px;


padding-bottom:170px;


}



.header h1{


font-size:30px;


margin-bottom:8px;


}



.header p{


color:#888;


font-size:14px;


}



/* Search */


.search{


margin-top:25px;


width:100%;


padding:17px 20px;


border-radius:30px;


border:none;


outline:none;


font-size:16px;



background:#ffffff;


color:#333;


}



/* Title */


.home h2{


margin-top:30px;


margin-bottom:15px;


font-size:22px;


}



/* Music Card */


.card{


display:flex;


align-items:center;


gap:15px;



background:


linear-gradient(
145deg,
#181818,
#101010
);



padding:14px;



border-radius:22px;


margin-bottom:15px;



transition:.25s;


}



.card:active{


transform:scale(.96);


}




.card img{


width:75px;


height:75px;


border-radius:16px;


object-fit:cover;


}




.info{


flex:1;


}



.info h3{


font-size:16px;


margin-bottom:5px;


}



.info p{


font-size:13px;


color:#999;


}





.card button{


border:none;


background:none;


color:#00ff66;


padding:5px;


}





/* Bottom Navigation */


.bottom{


position:fixed;


bottom:20px;


left:20px;


right:20px;



height:70px;



display:flex;


align-items:center;


justify-content:space-around;




background:


rgba(30,30,30,.85);



backdrop-filter:blur(15px);



border-radius:35px;



z-index:50;



}



.bottom button{


background:none;


border:none;


color:#aaa;


display:flex;


flex-direction:column;


align-items:center;


gap:5px;


font-size:12px;


}



.bottom svg{


width:22px;


}




/* Mini Player */


.player{


position:fixed;



bottom:105px;



left:20px;


right:20px;



background:


rgba(25,25,25,.95);



backdrop-filter:blur(15px);



padding:12px;



border-radius:20px;



display:flex;


align-items:center;


gap:12px;



z-index:40;



}



.player img{


width:55px;


height:55px;


border-radius:12px;


object-fit:cover;


}




.playerInfo{


flex:1;


}



.playerInfo h4{


font-size:15px;


}



.playerInfo p{


font-size:12px;


color:#aaa;


}



.player button{


background:none;


border:none;


color:white;


}




/* Profile */


.profile{


text-align:center;


padding:40px;


}



.profile img{


width:120px;


height:120px;


border-radius:50%;


}



.stats{


display:flex;


justify-content:space-around;


margin-top:45px;


}



/* Empty */


.empty{


text-align:center;


color:#888;


margin-top:40px;


}




/* Premium glow */


h1{


background:


linear-gradient(
90deg,
#00ff66,
#ffffff
);



-webkit-background-clip:text;


color:transparent;


}



/* Scrollbar hide */


::-webkit-scrollbar{


display:none;


  }
