.home{

padding:25px;
padding-bottom:100px;

}


.search{

background:#fff;
color:#555;
padding:18px;
border-radius:30px;
margin:25px 0;

}


.card{

display:flex;
align-items:center;
gap:15px;

background:#151515;

padding:12px;
border-radius:18px;

margin:15px 0;

}


.card img{

width:70px;
height:70px;
border-radius:12px;

}


.info{

flex:1;

}


.card button{

background:none;
border:none;
color:#00ff66;

}


.bottom{

position:fixed;

bottom:20px;
left:20px;
right:20px;

display:flex;
justify-content:space-around;

background:#222;

padding:15px;

border-radius:30px;

}


.bottom button{

background:none;
border:0;

color:#aaa;

display:flex;
flex-direction:column;
align-items:center;

}


.profile{

text-align:center;
padding:40px;

}


.profile img{

width:120px;
height:120px;
border-radius:50%;

}


.stats{

display:flex;
justify-content:space-around;
margin-top:50px;

font-size:20px;

}
